.footer {
    width: 100%;
    height: 250px;
    background: linear-gradient(90deg, #cb62ff, #aa00ff);
    margin: 20px 0px 0px 0px;
    font-size: 2em;
  }
  .footer a {
    color: white;
  }
  .footer a:hover {
    color: orange;
}