.containerPessoa{
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1200px));
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin: 0px 0px 200px 0;
}
.OtherNames {
    width: 400px;
    height: 400px;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    margin: auto;
    list-style-type: none;
    text-align: center;
    margin: 50px auto;
    grid-row: 1;
    grid-column: 2;
}
.OtherNames h4{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.bio{
    margin: 25px;
    width: 100%;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    grid-column: 1;
}
.bio p{
    width: 60%;
    margin: auto;
}
.bio img{
    width: 50%;
    margin: 0 200px;
}

.slide{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 100%;
    overflow-y: hidden;position: relative;
    margin: 20px;
  
  }
  
  .slide ul{
    padding: 0px 8px;
    margin: 0px 20px;
    list-style-type: none;
    
  } 
   
  .slide p{
    width: 250px;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
  }
  .slide ul li .Description{
  font-size: 2em;
  width: 500px !important;
  position: absolute;
  top: 0%;
  color: rgb(0, 0, 0);
  opacity: 0;
}

.slide ul li button{
  z-index: 46545546546;
  padding: 18px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  background: linear-gradient(90deg, #aa00ff, #f200ff);
  transition: 1s;
}

.slide ul li button:hover {
  background: linear-gradient(90deg, #cb62ff, #f648ff);
}

.slide ul:hover .Description{
  opacity: 1;
}

.slide ul:hover img{
  transition: .5s;
  opacity: .3;

}